.li {
    display: flex;
    align-items: center;
    opacity: 0;
    animation-name: reveal;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: color 0.5s ease-in-out;
}

.li:hover {
    cursor: pointer;
    color: #1329A7
}

.active {
    color: #1329A7
}

.span {
    color: #000;
    margin-left: 8px;
    position: relative;
}

.span::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.2px; 
    bottom: -4px;
    left: 0;
    background-color: #000; 
    transition-property: width;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
  
  
.li:hover .span:after {
    width: 100%;
    transition-duration: .4s;
}

@keyframes reveal {
    from {
    }
    to {
        opacity: 1;
    }
}
